.author {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
}

.author__text {
  margin: 0;
  padding-top: 9px;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .author {
    padding: 0;
    padding-top: 32px;
  }
}

@media (min-width: 1440px) {
  .author {
    padding: 0;
  }

  .author__text {
    margin-left: 81px;
    padding-top: 23px;
  }

  .author__link {
    margin-top: 15px;
  }
}
