.author {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
}

.author__text {
  margin: 0;
  padding-top: 9px;
  font-size: 16px;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: 767px) {
  .author__text {
    width: 100%;
  }
}

.author__link {
  color: #666666;

  &:hover,
  &:focus,
  &:active {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.author__svg {
  margin-top: -4px;
  margin-right: -7px;
  width: 41px;
  height: 41px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .author {
    padding: 0;
    padding-top: 32px;
  }
}

@media (min-width: 1300px) {
  .author {
    padding: 0;
  }

  .author__text {
    margin-left: 81px;
    padding-top: 23px;
  }

  .author__link {
    margin-top: 15px;
  }
}
