.btn {
  display: block;
  
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  
  background-color: #89c763;
  
  &--show {
    color: #444444;
    
    background-color: #f2f2f2;
  }
}