.catalog {
  width: 320px;
}

.catalog__title {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 28px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__image {
  width: 140px;
  height: 144px;

  &:focus {
    outline: 1px dotted;
  }
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 28px;
  border: 1px solid #d9d9d9;
  border-bottom: none;

  &:last-of-type {
    border-bottom: 1px solid #d9d9d9;
  }

  &--all {
    position: relative;
    display: block;
    padding-top: 79px;
    padding-bottom: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 26px;
      left: 145px;
      display: block;
      width: 30px;
      height: 30px;
      background-color: transparent;
      background-image: url("../img/icon-plus-mobile.svg");
      background-repeat: no-repeat;
      background-size: 30px 30px;
    }
  }
}

.catalog__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  &:hover,
  &:focus {
    color: fade(#111111, 60%);
  }

  &--image {
    display: block;
    flex-basis: 50%;
  }
}

.catalog__card-wrapper {
  flex-basis: 140px;
}

.catalog__btn {
  flex-basis: 100%;
  margin: 0;
  margin-bottom: -4px;
  padding-left: 2px;
  font-size: 16px;
  line-height: 20px;
}

.catalog__properties {
  width: 100%;
}

.catalog__product-name {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 13px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  &--all {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
  }
}

.catalog__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 768px) {
  .catalog {
    width: 708px;
  }

  .catalog__title {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 26px;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .catalog__item {
    position: relative;
    display: block;
    padding-top: 164px;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 139px;
    border: none;
    width: 248px;
    background-color: #f2f2f2;

    &--all {
      border: 1px solid #e6e6e6;
      padding-left: 37px;
      padding-right: 37px;
      background-color: #ffffff;

      &::before {
        top: 54px;
        left: 132px;
        width: 60px;
        height: 60px;
        background-image: url("../img/icon-plus.svg");
        background-repeat: no-repeat;
        background-size: 60px 60px;
      }
    }
  }

  .catalog__link {
    &--image {
      position: absolute;
      bottom: 305px;
      left: 0;
    }
  }

  .catalog__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 324px;

    &--big {
      height: 208px;
    }

    &--small {
      height: 172px;
    }
  }

  .catalog__product-name {
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 18px;
    width: 135px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    &--all {
      margin-bottom: 6px;
    }
  }

  .catalog__text {
    margin: 0 auto;
    margin-bottom: 85px;
    width: 170px;
    font-size: 16px;
    line-height: 19px;
  }

  .catalog__btn {
    margin-bottom: 13px;

    &--all {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1300px) {
  .catalog {
    padding-top: 12px;
    width: 1220px;
  }

  .catalog__title {
    padding-top: 36px;
  }

  .catalog__item {
    margin-bottom: 141px;
    padding-bottom: 28px;
    width: 169px;

    &--all {
      &::before {
        left: 91px;
      }
    }

    &:nth-last-of-type(4),
    &:nth-last-of-type(3),
    &:nth-last-of-type(2),
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .catalog__image {
    width: 245px;
  }
}
