.cell {
  
}

.cell__bold {
  margin: 0;
  
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
}

.cell__small {
  margin: 0;
  
  font-size: 12px;
  line-height: 12px;
}