.content__title {
  padding: 15px 0;
  width: 280px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.content__intro {
  padding-top: 27px;
}

.content__programs {
  padding-top: 22px;
}

.content__description {
  padding-top: 17px;
  padding-bottom: 40px;
}

.content__example {
  padding-top: 17px;
  padding-bottom: 34px;
}

.content__map {
  padding-top: 28px;
}

.content__intro-form {
  padding-bottom: 33px;
}

.content__catalog {
  padding-top: 15px;
}

.content__all-products {
  padding-top: 80px;
  padding-bottom: 24px;
}

.content__extra-products {
}

.content__programs,
.content__example,
.content__description,
.content__map,
.content__title,
.content__intro-form,
.content__catalog,
.content__extra-products {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .content__title {
    padding: 50px 0;
    width: 708px;
  }

  .content__programs {
    padding-left: 0;
    padding-right: 0;
  }

  .content__map {
    padding-top: 65px;
  }
}

@media (min-width: 1440px) {
  .content__title {
    width: 1220px;
  }

  .content__map {
    padding: 0;
  }
}
