.content {
  
}

.content__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.content__intro {
  
}

.content__programs {
  
}

.content__description {
  
}

.content__example {
  
}

.content__map {
  
}
