.description {
  width: 280px;
}

.description__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.description__text {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 80px;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    height: 60px;
    width: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: 5px 5px;
  }

  &--leaf {
    &::before {
      background-image: url("../../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    &::before {
      background-position: 5px 4px;
      background-image: url("../../img/advantage-powder@1x.png");
    }
  }

  &--dinin {
    &::before {
      background-position: 4px 5px;
      background-image: url("../../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    margin-bottom: 0;

    &::before {
      background-image: url("../../img/advantage-clock@1x.png");
    }
  }

  &--clock br {
    display: none;
  }
}

@media (min-width: 768px) {
  .description {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid #e6e6e6;
    width: 708px;
  }

  .description__title {
    margin-bottom: 74px;
    width: 100%;
    font-size: 60px;
    line-height: 60px;
  }

  .description__text {
    width: 354px;
    padding-left: 0;
    padding-top: 110px;
    font-size: 16px;
    line-height: 24px;

     &::before {
       width: 80px;
       height: 80px;
       background-position: 15px 15px;
    }

    &--leaf {
      margin-right: 173px;
      width: 210px;
    }
    
    &--powder {
      width: 250px;
    }

    &--dinin {
      margin-right: 143px;
      width: 240px;
    }

    &--clock {
      width: 260px;
    }

    &--clock br {
      display: block;
    }

    &--leaf,
    &--powder {
      margin-bottom: 135px;
    }
  }
}

@media (min-width: 1440px) {
  .description {
    width: 1220px;
  }

  .description__text {
    width: 245px;
    margin-bottom: 0;
  }
}
