.example {
  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 23px;
  
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.example__text {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;
}

.example__cell-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.example__left-cell {

}

.example__right-cell {

}

.example__cost {
  margin: 0;
  margin-bottom: 44px;
  
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.example__image {
  display: block;
}

.example__btn {
  border: none;
  border-bottom: 1px dashed #bebebe;
  
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  
  background-color: inherit;
  
  &:hover,
  &:focus {
    border-bottom: 1px solid #989898;
    
    outline: 0;
  }
  &:active {
    border-bottom: none;
    
    outline: 0;
  }
  &--after {
    
  }
}

.example__range {
  
}
