.extra-products {
}

.extra-products__title {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
}

.extra-products__list {
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.extra-products__extra-item {
  padding-top: 13px;
  padding-bottom: 17px;
}
