.footer-page {
  background-color: #f2f2f2;
}

.footer-page__logo-wrapper {
  
}

.footer-page__logo {
  outline: 5px solid blue;
}

.footer-page__social {
  outline: 5px solid yellow;
}

.footer-page__author {
  outline: 5px solid brown;
}