.footer-page {
  background-color: #f2f2f2;
}

.footer-page__logo-wrapper {
  margin: 0 20px;
  padding-top: 39px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.footer-page__logo {
  outline: 5px solid blue;
  
  &--link {
    display: block;
    
    text-align: center;
  }
}

.footer-page__social {
  outline: 5px solid yellow;
}

.footer-page__author {
  margin: 0 20px;
  
  outline: 5px solid brown;
}
