.form__cat-info {
  padding-bottom: 9px;
  border-bottom: 1px solid #ededed;
}

.form__wrapper {
  display: flex;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 14px;

  &--program {
    padding-left: 45px;
  }

  &--contact,
  &--bonus {
    margin-left: 0;
    margin-right: 0;
  }

  &--bonus {
    padding-left: 45px;
    margin-bottom: 24px;
  }
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  &--radio,
  &--checkbox {

    &:active {
      color: fade(#222222, 30%);
    }
  }
}

.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: inherit;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  &--text,
  &--email,
  &--phone {
    flex-grow: 1;
    margin-left: 16px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
  }

  &--email {
    margin-left: 12px;
  }

  &--phone {
    margin-left: 10px;
  }
}

.form__program {
  padding-top: 25px;
  padding-bottom: 11px;
  border-bottom: 1px solid #e6e6e6;
}

.form__comment {
  padding: 0;
  border: 1px solid #e6e6e6;
  width: 100%;
  min-height: 148px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: inherit;
  font-weight: 400;
  text-transform: uppercase;
  color: inherit;
}

.form__fieldset {
  margin: 30px 20px;
  padding: 0;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;

  &--contact,
  &--comment,
  &--bonus {
    padding-top: 32px;
  }

  &--bonus {
    margin-bottom: 18px;
  }
}

.form__button {
  display: block;
  margin-bottom: 22px;
  padding: 10px 0;
  width: 100%;
}

.form__text {
  margin: 0;
  text-align: center;
}

.form__bottom {
  margin: 0 20px;
}
