.header-page {
  
}

.header-page__logo {
  display: block;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 20px;
  border-bottom: 1px solid #e6e6e6;
  
  outline: 5px solid brown;
  
  &--link {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.header-page__menu {
  display: none;
  border: none;
  height: 18px;
  width: 18px;
  
  background-color: inherit;
  background-image: url("../../img/icon-close.svg");
  background-repeat: no-repeat;
  
  outline: 5px solid red;
}

.header-page__navigation {
  outline: 5px solid yellow;
}
