.intro-form {
  
}

.intro-form__text {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 37px;
  padding-right: 50px;
  
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #111111;
}
