.map {
  width: 320px;
  background-color: #ffffff;

  &--bg-color {
    position: relative;
    background-color: #f2f2f2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc((100vw - 320px)/2*(-1));
      z-index: -1;
      display: block;
      width: 100vw;
      height: 100%;
      background: #f2f2f2;
    }
  }
}

.map__title {
  margin: 0;
  flex-basis: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.map__address {
  margin: 0;
  flex-basis: 140px;
  line-height: 20px;
  color: #111111;
}

.map__wrapper {
  position: relative;
  z-index: 0;
  display: block;
  height: 362px;
  width: 320px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 139px;
    left: 129px;
    z-index: 1;
    display: block;
    height: 53px;
    width: 55px;
    background-image: url("../../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.map__wrapper-text {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 19px;
  padding-bottom: 26px;
}

.map__image {
  position: absolute;
  top: -38px;
  left: 0;
  display: block;
  height: 400px;
  width: 320px;
}

@media (min-width: 768px) {
  .map {
    width: 768px;

    &::before {
      left: calc((100vw - 768px)/2*(-1));
    }
  }

  .map__wrapper-text {
    margin: 0 30px;
    padding-bottom: 60px;
  }

  .map__title {
    text-transform: uppercase;
  }
}

@media (min-width: 1440px) {
  .map {
    width: 1440px;

    &::before {
      left: calc((100vw - 1440px)/2*(-1));
    }
  }

  .map__wrapper-text {
    position: relative;
    z-index: 1;
    width: 570px;
    margin-top: 95px;
    margin-left: 110px;
    padding-top: 65px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }

  .map__wrapper {
    margin-top: -280px;
  }
}
