.programs {
  background-color: #ffffff;
}

.programs__slim {
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 22px;
}

.programs__weight {
  padding-top: 30px;
  padding-bottom: 22px;
}
