.weight {
  position: relative;
  background-color: #f2f2f2;
}

.weight__title-wrapper {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: flex-start;
}

.weight__icon {
  position: relative;
  margin-left: 22px;
}

.weight__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}

.weight__cat {
  position: absolute;
  top: 11px;
  left: -9px;
  width: 67px;
  height: 28px;
}

.weight__title {
  margin: 6px 0 29px 19px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.weight__description {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 19px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.weight__link {
  position: relative;
  display: block;
  margin-left: 19px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 96px;
    width: 25px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    &::after {
      width: 32px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 32px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .weight__title-wrapper {
    position: relative;
    display: block;
  }

  .weight__icon {
    position: absolute;
    top: 14px;
    right: 60px;
  }

  .weight__circle {
    width: 200px;
    height: 200px;
  }

  .weight__cat {
    top: 43px;
    left: -36px;
    width: 268px;
    height: 112px;
  }
}

@media (min-width: 768px) {
  .weight__title {
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 53px;
    font-size: 36px;
    line-height: 36px;
  }

  .weight__description {
    margin-bottom: 34px;
    margin-left: 52px;
    padding-right: 293px;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }

  .weight__link {
    margin-left: 52px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 5px;
      left: 126px;
    }
  }
}

@media (min-width: 1300px) {
  .weight {
    width: 570px;
  }

  .weight__icon {
    margin-left: 52px;
  }

  .weight__circle {
    width: 100px;
    height: 100px;
  }

  .weight__cat {
    top: 22px;
    left: -18px;
    width: 134px;
    height: 56px;
  }

  .weight__title {
    margin-top: 30px;
    margin-bottom: 44px;
    margin-left: 62px;
  }

  .weight__description {
    margin-top: 30px;
    margin-left: 52px;
    margin-bottom: 9px;
    padding-right: 20px;
  }
}
